.container {
    max-width: 38rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
    margin: auto;
}

.backToHome {
    margin: 3rem 0 0;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.main {
    min-height: 500px;
}
